@import "tailwindcss";

/* colors */
:root {
  /* Brand */
  --color-gray: #e7e7e3;
  --color-white: #fafafa;
  --color-yellow: #ffa52f;
}

/* Default body font */
body {
  background-color: var(--color-gray);
  font-family: var(--font-open-sans);
  padding-top: 32px;
  padding-left: 60px;
  padding-right: 60px;
}

/* Utility classes */
.font-rubik {
  font-family: var(--font-rubik);
}

.font-open-sans {
  font-family: var(--font-open-sans);
}
