@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 320px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --color-gray: #e7e7e3;
  --color-white: #fafafa;
  --color-yellow: #ffa52f;
  --color-dark-gray: #232321;
  --color-blue: #4a69e2;
}

/* .container {
  @apply ;
} */

/* Default body font */
body {
  background-color: var(--color-gray);
  font-family: var(--font-open-sans);
}

/* Utility classes */
.font-rubik {
  font-family: var(--font-rubik);
}

.font-open-sans {
  font-family: var(--font-open-sans);
}
